body {
  font-family: 'Arvo', serif;
  background-color: #E1E5F2;
}

header {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 80px;
  color: #046AEF;
  font-family: 'Bungee Shade', cursive;
}

#search, .results-drink {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex: 1;
}

h2 {
  font-size: 18px;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
}

.title-and-image {
  flex: 1;
  text-align: center;
  align-self: flex-end;
}

.title-and-image:hover {
  transform: scale(1.1);
}

.title-and-image img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.instructions {
  flex: 2;
}

h4 {
  width: 200px;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

h4:hover {
  color: #555;
  border-color: #555;
}

input {
  outline: none;
  padding: 20px;
  width: 500px;
  height: 8px;
  font-size: 20px;
  font-family: 'Arvo', serif;
}

div {
  margin: 10px;
}

button {
  border: 2px solid black;
  padding: 12px;
  background: #046AEF;
  font-size: 20px;
  font-family: 'Bungee Shade', cursive;
  margin-left: 10px;
  text-transform: uppercase;
}