.header-background {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #022B3A;
  background-size: 16px 16px;
  color: #E1E5F2;
  text-decoration: none;
  font-family: 'Cantata One', serif;
}

i{
  transition-duration: .5;
}

i:hover{
  transform: scale(1.5);
}

.box {
  margin: 0 auto;
  width: 800px;
  padding: 35px;
}

.boxF {
  margin: 0 auto;
  width: 800px;
  padding: 35px;
}

.box1 {
  margin: 0 auto;
  width: 950px;
  padding: 35px;
  height: auto;
}

.boxEdu {
  margin: 0 auto;
  width: 800px;
  padding: 5px 35px 35px 35px;
  font-family: 'Cantata One', serif;
}

.subtitle {
  font-size: 12.5px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.name {
  font-size: 45px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.icon  {
  font-size: 35px;
  padding:10px;
  padding-top: 0px;
  color: #E1E5F2;
  text-decoration: none;
}


.body {
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Cantata One', serif;
  margin-bottom: 50px;
}

.color-text {
  color: #022B3A;
  background-color: #E1E5F2;
}

.abt-sizing {
  text-indent: 50px;
}

.skills-css {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #022B3A;
  background-size: 16px 16px;
  color: #E1E5F2;
  padding-bottom: 25px;
}

.skills-set {
  font-size: 30px;
  font-weight: normal;
}

/* .skill {
  font-size: 12.5px;
  font-weight: lighter;
} */

h3 {
  margin-top: 0px;
}

h4 {
  margin-bottom: 3px;
  font-weight: bold;
}

h5 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.name-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin-top:40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.skills-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.base-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.exp-flex {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: text-top;
}


.exp-ex-L {
  flex-basis: 33%;
  padding: 0px 25px 0px 0px;
}

.exp-ex-M {
  flex-basis: 33%;
  padding: 0px 25px 0px 25px;
}

.exp-ex-R {
  flex-basis: 33%;
  padding: 0px 0px 0px 25px;
}

a:hover {
  color: #BFDBF7;
}


a {
  transition: font-size .5s;
}

meter::-webkit-meter-optimum-value {
  background: #1F7A8C;
}

meter::-webkit-meter-bar {
  background: #E1E5F2;
}

.tasks {
  text-align: left;
}

.pl {
  background-color: #E1E5F2;
}

.portItemFlex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portItem {
  font-size: 25px;
}

.pit:hover {
  transform: scale(1);
}

@media screen and (max-width: 750px) {
  .box {
    width: 300px;
    padding-bottom: 5px;
  }
  i:hover{
    transition: none;
  }

  .boxF {
    width: 300px;
  }

  .box1 {
    width: 300px;
  }

  .boxEdu {
    width: 300px;
  }

  .abt-sizing {
    font-size: 10px;
    text-indent: 15px;
  }

  .name-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skills-flex {
    flex-direction: column;
    text-align: center;
  }

  .exp-flex {
    flex-direction: column;
    text-align: center;
    vertical-align: text-top;
  }

  .exp-ex-M {
    padding-left: 0px;
  }

  .exp-ex-R {
    padding-left: 0px;
  }

  .base-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    transform: scale(.8);
    padding: -20px;
    margin-left: -10px;
  }

  .tasks {
    font-size: 10px;
  }

  .name {
    font-size: 30px;
  }

  .subtitle {
    display: none;
  }

  .pit:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) and (min-width: 751px) {
  .box {
    width: 700px;
  }

  .boxF {
    width: 700px;
  }

  .box1 {
    width: 700px;
    height:
  }

  i:hover{
    transition: none;
  }

  .boxEdu {
    width: 700px;
  }

  .abt-sizing {
    font-size: 15px;
  }

  .name-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skills-flex {
    flex-direction: row;
  }

  .exp-flex {
    flex-direction: row;
    text-align: center;
    vertical-align: text-top;
  }

  .exp-ex-M {
    padding-left: 0px;
  }

  .exp-ex-R {
    padding-left: 0px;
  }

  .base-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    transform: scale(.9);
    padding: -20px;
    margin-left: -10px;
    margin-top: 10px;
  }

  .tasks {
    font-size: 10px;
  }

  .name {
    font-size: 30px;
  }

  .subtitle {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .pit:hover {
    transform: scale(1);
  }
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container {
	width: 250px;
	height: 250px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
  vertical-align: bottom;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.exp-img {
  width: 200px;
  height: 200px;
}

.bg-light{
  color: #022B3A!important;
  background-color: #E1E5F2!important
}

.footertitle{
  color: #022B3A!important;
}

.navbar{
  justify-content: space-between;
}

.footerflex {
  flex-direction: row;
}

#headshot {
  margin-top:20px;
}

.portcont{
  background-color: red;
}
