body{
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir"
}

.square{
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  transition: .75s;
}

.container{
  max-width: 600px;
  margin: 0 auto;
}

h1{
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

#bar{
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected{
  background-color: blue;
}
